<%- include("partials/header"); %>

        <div class="text-center">
            <img src="https://c.tenor.com/VFFJ8Ei3C2IAAAAM/rickroll-rick.gif" class="text-center" alt="get rickrolled">
        </div>
        <h1 class="text-center">get rickrolled lel</h1>
        <audio src="audio/rickroll.mp3" id="le_rickroll" autoplay></audio>

        <script>
           document.querySelector("body").addEventListener("click", function(){
           
               document.getElementById("le_rickroll").play();
               
           })



           
        </script>

        <!--nothing to see here, go away weirdo-->
        <p style="font-size: 10px; color: rgb(238, 238, 238); margin-top: 20%;" class="text-center">i love you angie <3</p>
<%- include("partials/footer"); %>